### Import packages and data

https://docs.google.com/spreadsheets/d/1BB9m2y35Z6GJeFwJJRp-WteH3EDuibwB-WB0rGDiN7Y/edit#gid=0

In [1]:
import pandas as pd
import numpy as np

In [2]:
Original_names = pd.read_csv("Boder Data - Original_names.csv")
Counts = pd.read_csv("Boder Data - Counts.csv")
Facts = pd.read_csv("Boder Data - Facts.csv")

### Explore data

In [3]:
Original_names.head()

   id first_name   last_name
0   1      Ilmar          A.
1   2       Nino    Barzilai
2   3     Jürgen  Bassfreund
3   4       Rita    Benmayor
4   5      Tomas       Billi

In [4]:
Counts.head()

,id,interviewee,interviewer,diff,ratio,interviewee_first_name,interviewee_last_name
0,9.0,1027,680,347.0,1.510294,[first name unknown],Borgman
1,112.0,231,362,-131.0,0.638122,[first name unknown],Feneger
2,80.0,1902,602,1300.0,3.159468,[first name unknown],Rudo
3,47.0,35404,2943,32461.0,12.029901,Abraham,Kimmelmann
4,108.0,2063,168,1895.0,12.279762,Abraham,Schrameck

In [5]:
Facts.head()

,Last Name,First Name,Gender,Language Interviewed,Age,Religion,Date of Interview,Location of Interview,Nationality,Last Alias1,First Alias1,Last Alias2,First Alias2,Interviewed Multiple Times?,Where did they want to go?,Related to?,Notes,Additional Information
0,Feneger,[first name unknown],Male,English,NaN,Unknown,8/16/1946,Paris,Poland,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Rudo,[first name unknown],Female,Spanish,37.0,Non-Jewish,7/30/1946,Paris,Spain,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Spanish refugee taking classes at ORT,",NaN
2,Kimmelmann,Abraham,Male,German,18.0,Jewish,8/27/1946,Geneva,Poland,Kimmelman,Avraham,NaN,NaN,yes,NaN,NaN,NaN,NaN
3,Schrameck,Abraham,Male,"French, English",78.0,Jewish,8/21/1946,Paris,France,NaN,NaN,NaN,NaN,NaN,NaN,Father of Anne Marcelle Kahn,NaN,NaN
4,Perl,Abram,Male,"Yiddish, German",27.0,Jewish,9/2/1946,Tradate,Slovakia,Shlomi,Abram,Baruch,NaN,NaN,Palestine,NaN,former name friedman,NaN

### Clean data

In [6]:
del Counts["id"]

In [7]:
Counts.head()

,interviewee,interviewer,diff,ratio,interviewee_first_name,interviewee_last_name
0,1027,680,347.0,1.510294,[first name unknown],Borgman
1,231,362,-131.0,0.638122,[first name unknown],Feneger
2,1902,602,1300.0,3.159468,[first name unknown],Rudo
3,35404,2943,32461.0,12.029901,Abraham,Kimmelmann
4,2063,168,1895.0,12.279762,Abraham,Schrameck

In [8]:
Facts.columns

Index(['Last Name', 'First Name', 'Gender', 'Language Interviewed', 'Age',
       'Religion', 'Date of Interview', 'Location of Interview', 'Nationality',
       'Last Alias1', 'First Alias1', 'Last Alias2', 'First Alias2',
       'Interviewed Multiple Times?', 'Where did they want to go?',
       'Related to?', 'Notes', 'Additional Information'],
      dtype='object')

In [16]:
boder_meta = pd.DataFrame()
boder_meta["interviewee_id_inner"] = Original_names["id"]
boder_meta["interviewee_last"] = Original_names["last_name"]
boder_meta["interviewee_first"] = Original_names["first_name"]
boder_meta_names = ["interviewee_id_outter", "interviewer_id", "diff", "ratio", "gender",
                    "language_interviewed", "age", 'religion', 'date_of_interview', 
                    'location_of_interview','nationality','last_alias1', 'first_alias1',
                    'last_alias2', 'first_alias2','interviewed_multi_times?', 
                    'where_want_to_go?','related_to','notes','additional_info']
for i in range(len(boder_meta_names)):
    boder_meta[boder_meta_names[i]] = [np.nan]*len(boder_meta)

In [17]:
boder_meta.head()

,interviewee_id_inner,interviewee_last,interviewee_first,interviewee_id_outter,interviewer_id,diff,ratio,gender,language_interviewed,age,...,nationality,last_alias1,first_alias1,last_alias2,first_alias2,interviewed_multi_times?,where_want_to_go?,related_to,notes,additional_info
0,1,A.,Ilmar,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,Barzilai,Nino,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3,Bassfreund,Jürgen,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4,Benmayor,Rita,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5,Billi,Tomas,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [18]:
for i in range(len(boder_meta)):
    # match the Counts table
    for j in range(len(Counts)):
        if (boder_meta["interviewee_last"][i]==Counts["interviewee_last_name"][j] and
            boder_meta["interviewee_first"][i]==Counts["interviewee_first_name"][j]):
            boder_meta["interviewee_id_outter"][i]=Counts["interviewee"][j]
            boder_meta["interviewer_id"][i]=Counts["interviewer"][j]
            boder_meta["diff"][i]=Counts["diff"][j]
            boder_meta["ratio"][i]=Counts["ratio"][j]
    # match the Facts table
    for k in range(len(Facts)):
        if (boder_meta["interviewee_last"][i]==Facts["Last Name"][k] and
            boder_meta["interviewee_first"][i]==Facts["First Name"][k]):
            boder_meta["gender"][i]=Facts['Gender'][k]
            boder_meta["language_interviewed"][i]=Facts['Language Interviewed'][k]
            boder_meta["age"][i]=Facts['Age'][k]
            boder_meta["religion"][i]=Facts['Religion'][k]
            boder_meta['date_of_interview'][i]=Facts['Date of Interview'][k]
            boder_meta['location_of_interview'][i]=Facts['Location of Interview'][k]
            boder_meta['nationality'][i]=Facts['Nationality'][k]
            boder_meta['last_alias1'][i]=Facts['Last Alias1'][k]
            boder_meta['first_alias1'][i]=Facts['First Alias1'][k]
            boder_meta['last_alias2'][i]=Facts['Last Alias2'][k]
            boder_meta['first_alias2'][i]=Facts['First Alias2'][k]
            boder_meta['interviewed_multi_times?'][i]=Facts['Interviewed Multiple Times?'][k]
            boder_meta['where_want_to_go?'][i]=Facts['Where did they want to go?'][k]
            boder_meta['related_to'][i]=Facts['Related to?'][k]
            boder_meta['notes'][i]=Facts['Notes'][k]
            boder_meta['additional_info'][i]=Facts['Additional Information'][k]

/Users/lizhoufan/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

/Users/lizhoufan/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  import sys
/Users/lizhoufan/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

/Users/lizhoufan/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':
/Users/lizhoufan/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

/Users/lizhoufan/anaconda3/lib/python3.6/site-packages/pandas/core/indexing.py:194: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._setitem_with_indexer(indexer, value)
/Users/lizhoufan/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from ipykernel import kernelapp as app
/Users/lizhoufan/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  app.launch_new_instance()
/Users/lizhoufan/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/Users/lizhoufan/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/Users/lizhoufan/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/Users/lizhoufan/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/Users/lizhoufan/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/Users/lizhoufan/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/Users/lizhoufan/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/Users/lizhoufan/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/Users/lizhoufan/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:25: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/Users/lizhoufan/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:26: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/Users/lizhoufan/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:27: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/Users/lizhoufan/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:28: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/Users/lizhoufan/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:29: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [19]:
boder_meta.head()

,interviewee_id_inner,interviewee_last,interviewee_first,interviewee_id_outter,interviewer_id,diff,ratio,gender,language_interviewed,age,...,nationality,last_alias1,first_alias1,last_alias2,first_alias2,interviewed_multi_times?,where_want_to_go?,related_to,notes,additional_info
0,1,A.,Ilmar,1951.0,1395.0,556.0,1.398566,Male,German,23.0,...,Estonia,Hilman,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,Barzilai,Nino,1326.0,440.0,886.0,3.013636,Male,Spanish,54.0,...,Greece,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3,Bassfreund,Jürgen,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4,Benmayor,Rita,1819.0,2219.0,-400.0,0.819739,Female,German,20.0,...,Greece,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5,Billi,Tomas,1470.0,820.0,650.0,1.792683,Male,Russian,58.0,...,Estonia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### Export data and further cleaning

In [21]:
boder_meta.to_csv("boder_meta.csv", index=False)

### Log and Note

This takes me much longer than I expected. The reasons include spelling not in English, unknown names, alias, typo, and not detectable problems. Several notes are also made for further reference.

#### The manually clean some unmatchable items.

##### Non English
- Cleaned and fixed the raw of "Jurgen", as J was not spelled in English.
- Cleaned and fixed the raw of "Kluver", as u was not spelled in English.
- Cleaned and fixed the raw of "Andre", as e was not spelled in English.
- Cleaned and fixed the raw of "Skudaikiene	Brone", as some non-English caracters were added after the name.

##### Unknown Name
- Fixed the raw of "Boguslaw", as it its last name is unknown.
- Fixed the raw of "Joseph", as it its last name is unknown.

##### Alias
- Cleaned and fixed the column of "Isaac". as "Isaac" is an alias for "Itzhak".
- Cleaned and fixed the column of "Kahn	Marcelle", as Marcelle is also called "Anne Marcelle".
- Fixed the raw of "Baruch Friedman", as it was the former name of Perl Abram.
- Fixed the raw of "Maxmillian", as one version of the name was Maximillian.

##### Others
- Fixed the raw of "Gertner Alexander", reason not detected.

#### Note that:

- "Borgman" is not in Facts.
- "Hirsch David" not in both Counts and Facts.